{{#each hunts as |hunt|}}
  {{one-hunt hunt=hunt}}
{{else}}
  {{yield}}
{{/each}}

{{#if canLoadMore}}
  <div class="col-xs-12" class="load-more-hunts text-center">
    <a {{action "enableInfiniteScroll"}} class="btn btn-default">
      Load More
    </a>
  </div>
{{/if}}
