<div class="row">
  <figure class="brndr-hunt-cmnt-poster-pict col-xs-2 pull-left">
    <img src="{{comment.posterPict}}" />
  </figure>
  <p>
    {{comment.user.username}}
    <span class="pull-right">{{comment.createdAt}}</span>
  </p>
  <p class="brndr-hunt-cmnt-txt no-gutter-left no-gutter-right col-xs-10 col-xs-offset-2 pull-right">
    {{comment.text}}
  </p>
</div>
