{{#each hunts as |hunt|}}
  {{one-hunt hunt=hunt}}
{{else}}
  <div class="no-hunts text-center">
    {{yield}}
  </div>
{{/each}}

{{#if canLoadMore}}
  <div class="col-xs-12" class="load-more-hunts text-center">
    <button {{action "enableInfiniteScroll"}}
            class="btn btn-default col-xs-3 text-center center-block">
      Load More
    </button>
  </div>
{{/if}}
