<div class="brndr-hunt col-xs-12 col-md-4">
  <div class="brndr-hunt-content col-xs-12">
    <img {{bind-attr src=hunt.imageUrl}} {{action "openHuntModal" on="click"}} />
    <p class="brndr-hunts-count pull-right">
      {{hunt.commentsCount}} Comments about {{hunt.huntsCount}} Hunts
    </p>
  </div>
</div>
