<div class="brndr-hunt-content col-xs-12">
  {{#link-to "dashboard.hunts.show" hunt}}
    <img src="{{hunt.imageUrl}}" />
  {{/link-to}}
  <p class="brndr-hunts-count pull-right">
    {{hunt.commentsCount}} Comments about {{hunt.huntsCount}} Hunts
  </p>
</div>
