div.brndr-access-form {
  padding-top: 5%;
  padding-bottom: 5%;

  div#go-to-create-account {
    position: absolute;
    right: 2%;
    top: 2%;

    a {
      background-color: @brandr-blue;
      border: 1px solid @brandr-blue;
      border-radius: 3px;
      color: @brandr-grey;
      text-transform: uppercase;
    }
  }

  form {
    input {
      padding: 5% 3%;

      border: 1px solid @brandr-grey;
      border-bottom: none;
      border-radius: 0;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
      }

      &:focus {
        border-bottom: 1px solid @brandr-blue;
      }
    }

    div.form-group.first-child input {
      border-top-left-radius: @border-radius-small;
      border-top-right-radius: @border-radius-small;
    }

    div.form-group.last-child input {
      border-bottom: 1px solid @brandr-grey;
      border-bottom-left-radius: @border-radius-small;
      border-bottom-right-radius: @border-radius-small;

      &:focus {
        border-bottom: 1px solid @brandr-blue;
      }
    }

    button {
      padding: 3%;
      background-color: @brandr-blue;
      border: 1px solid @brandr-blue;
      border-radius: 3px;
      color: @brandr-grey;
      text-transform: uppercase;

      &:hover {
        color: @brandr-grey;
      }
    }

    p {
      margin-top: 2%;

      a {
        color: @brandr-blue;

        &:hover {
          text-decoration: none;
          color: @brandr-blue
        }
      }
    }

    div.hr {
      display: block;
      width: 100%;

      background: @brandr-grey;
    }
  }
}
