div.file-picker img {
  width: 100%;
}

div.hnt-placeholder {
  display: block;
  background: @brandr-grey;
  min-height: 300px;

  div.placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
      font-size: 3em;
    }

    p {
      margin-top: 5%;

      font-weight: lighter;

      span { font-size: 2em; }
    }
  }
}

div.hunt-creation-actions {
  margin: 2%;

  button, a {
    color: #fff;
  }

  button {
    background-color: @brandr-grey;
    border: 1px solid @brandr-grey;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
  }

  a {
    margin-left: -3px;

    background-color: @brandr-blue;
    border: 1px solid @brandr-blue;
    border-radius: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

    &:hover {
      background-color: @brandr-blue;
      color: #fff;
      cursor: pointer;
    }
  }
}
