// Hunt display list
//

.brndr-hunts-wrapper {
  margin-bottom: 2%;

  & > .load-more-hunts {
    display: block;
    position: absolute;
    width: 100%;
    bottom: -2%;
    margin-bottom: 1%;
  }
}
