{{#modal-component size="modal-md" action="closeModal"
                   back="dashboard.hunts.index"}}
  <div class="brndr-access-form row" id="register-form">
    <div id="go-to-create-account">
      {{#link-to "dashboard.hunts.login" class="btn btn-default"}}
        Sign in
      {{/link-to}}
    </div>
    <form {{action "authenticate" on="submit"}}
          class="center-block text-center col-xs-8">
      <h1>
        <img src="brandr.png" class="center-block col-xs-4">
      </h1>

      {{input type="email" placeholder="Email" class="form-control"}}

      {{input type="password" placeholder="Password" class="form-control"
              name="password"}}

      {{input type="password" placeholder="Password Confirmation"
              class="form-control" name="password-confirmation"}}

      <div class="form-group" id="account-creation-disclaimer">
        <p>
          By creating an account, you aggree with Brandr's Terms of
          Service, Privacy Policy and cookie use.<br />
        </p>
        <p>
          Already have an account? {{#link-to 'dashboard.hunts.login'}}Log in.{{/link-to}}
        </p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn col-xs-12">
          Join the Brandr Community
        </button>
      </div>
    </form>
  </div>
{{/modal-component}}
