{{#hunts-display hunts=hunts loadMoreHunts="loadMoreHunts"
                 canLoadMore=canLoadMore}}
 <div class="no-hunts center-block col-xs-6">
    <img src="no-hunts.png" class="col-xs-6 center-block"/>
    <p class="text-center">
      No hunts for the moment? <br />What a shame!
    </p>
 </div>
{{/hunts-display}}
