{{#masonry-grid itemSelector=".brndr-hunt"}}
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/10/essentials-maxime-buchi-1.jpg">
      <p class="brndr-hunts-count pull-right">3 Hunts / 132 Comments</p>
      <ul class="brndr-hunts-ltst-cmnts col-xs-12">
        <li>
          <div class="row">
            <figure class="brndr-hunt-cmnt-poster-pict col-xs-2 pull-left">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
            </figure>
            <p class="brndr-hunt-cmnt-txt no-gutter-left col-xs-10 pull-right">
              Entitled "Juke Or Treat," the track was shared by The Social
              Experiment's Petter Cottontale on Halloween yesterday and features
              samples from X-Files, Ghostbusters and The Twilight Zone.
            </p>
          </div>
          <div class="brndr-hunt-cmnt-stats col-xs-12">
            <p class="pull-right">3 upvotes / 1 downvote</p>
          </div>
        </li>
        <li>
          <div class="row">
            <figure class="brndr-hunt-cmnt-poster-pict col-xs-2 pull-left">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
            </figure>
            <p class="brndr-hunt-cmnt-txt no-gutter-left col-xs-10 pull-right">
              Entitled "Juke Or Treat," the track was shared by The Social
            </p>
          </div>
          <div class="brndr-hunt-cmnt-stats col-xs-12">
            <p class="pull-right">3 upvotes / 1 downvote</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/09/essentials-astrid-andersen-1.jpg?w=1382">
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/09/essentials-quincy-jones-11.jpg?w=1499">
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/09/essentials-matt-fine-of-shiekh-shoes-001.jpg?w=1382">
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/e3/06/d1/e306d1537eb21119449172c2a08915d1.jpg" />
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/08/essentials-jason-peterson-01.jpg?w=1499">
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
  <div class="brndr-hunt col-xs-12 col-md-4">
    <div class="brndr-hunt-content col-xs-12">
      <img src="http://photon.101medialablimit.netdna-cdn.com/hypebeast.com/image/2015/10/essentials-maxime-buchi-1.jpg?w=1382">
      <p class="brndr-hunts-count pull-right">1 Hunts / 0 Comments</p>
    </div>
  </div>
{{/masonry-grid}}
