<div class="row">
  <nav id="dashboard-header" class="navbar navbar-default">
    <div class="col-xs-10 col-xs-offset-1">
      <img src="brandr.png" class="brndr-logo col-xs-3 pull-left">
      <div class="navbar-left-side pull-right">
        {{#if session.isAuthenticated}}
          <button id="brndr-hnt-add" class="btn btn-default pull-left">+</button>
          <div id="brndr-profile-enter" class="dropdown pull-left">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{currentUser.fullname}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a {{action "invalidateSession"}}>Logout</a></li>
            </ul>
          </div>
        {{/if}}
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>
