<div class="row">
  <nav id="dashboard-header" class="navbar navbar-default">
    <div class='container'>
      {{outlet 'navbar'}}
    </div>
  </nav>
  <div class="container">
    <div class="row">
      {{outlet}}
    </div>
  </div>
</div>
