<form>
  {{input type="email" placeholder="Enter an email address"}}
  {{input type="password" placeholder="Create a password"}}
  {{input type="password" placeholder="Confirm your password"}}
</form>
