<div class="row" id="login-full-container">
  <section id="login-full" class="text-center center-block col-xs-3">
      <h1><img src="brandr.png" class="center-block col-xs-6"></h1>
      <form {{action "authenticate" on="submit"}}>
          {{input type="email" class="form-control" value=identification
                  placeholder="Email address"}}
        <div class="form-group ">
          {{input type="password" class="form-control" value=password
                  placeholder="Password"}}
        </div>
        <div class="form-group">
          <button type="submit" class="btn col-xs-12">Log In</button>
        </div>
        <div class="form-group">
          <p id="go-to-registration" class="col-xs-12">
            Don't have an account? {{#link-to "index"}}Sign Up Now{{/link-to}}
          </p>
        </div>
      </form>
  </section>
</div>
