<form {{action "authenticate" on="submit"}}>
  {{input type="email" value=identification placeholder="Enter an email address"}}
  {{input type="password" value=password placeholder="Create a password"}}
  <button type="submit">Log In</button>
</form>
